@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #212121;
}

header {
    background-color: #292929;
    padding: 0 15px;
    height: 55px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
    position: relative;
}

header > h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ebebeb;
}

main {
    display: flex;
    gap: 20px;
}

aside {
    width: 100%;
    max-width: 270px;
    background-color: #2c2c2c;
    padding: 30px 20px 20px;
    min-height: calc(100dvh - 55px);
}

.canvas {
    width: 100%;
    max-width: 720px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row {
    display: flex;
    gap: 2px;
}

.pixel {
    width: 100%;
    aspect-ratio: 1;
    background-color: #444;
    user-select: none;
}
